body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    line-height: 1.7;
}

h1, h2, h3 {
    margin-top: 30px;
}

a {
    color: #005aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background: #f4f4f4;
    padding: 3px 6px;
    border-radius: 4px;
}
